.header{
    background: $color-black;
    margin-bottom: $xl-size;
    padding: $m-size;
    color: $color-purple;
}
.header__title{
    font-size: $l-size;
    margin: 0;
}
.header__subTitle{
    color: $color-pink;
}
