.header{
    background: $header-color;
    margin-bottom: 4.8rem;
    padding: 1.6rem 0;
    color: #6833FF;
}
.header__title{
    font-size: 3.2rem;
    margin: 0;
}
.header__subTitle{
    color: #d7a5d4;
}
