.widget{
    background: $light-blue;
}
.widget-header{
    background: $blue ;
    color: $color-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}
.widget-header__title{
    margin: 0;
}