$color-black: #202020;
$color-white: white;
$color-pink: #d7a5d4;
$color-purple: #6833FF;
$color-blue: #337AFF;
$dark-blue: #333745;
$blue: #61697e;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;



